* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  display: flex;
  padding: 3% 12%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
}

.nav-links ul li {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 1em;
  position: relative;
}

.nav-links ul a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.nav-links ul a:hover {
  color: #8a8a8a;
}

.nav-links ul li::before {
  content: '';
  width: 0%;
  height: 3px;
  background: #8a8a8a;
  display: block;
  margin-bottom: .5em;
  transition: 0.3s;
}

.nav-links ul li:hover::before {
  width: 100%;
  transition: 0.5s;
}

h1 {
  font-weight: 600;
  padding: .5em 0;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: .5em 0;
}

p {
  line-height: 1.5em;
}

/* Body of the page */
.info {
  background-color: #e6e6e6;
  padding: 3em 0;
}

.info-elements {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  align-items: center;
}

.info-elements .content img {
  max-height: 350px;
  max-width: 350px;
  border-radius: 1em;
  margin-right: 0;
}

.info-elements .content:nth-child(1) {
  margin-left: 0;
}

.projects {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 5em 0;
}

.project-elements {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(minmax(250px, 400px));
  justify-content: space-around;
}

.project-elements2 {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 400px));
  justify-content: space-around;
}

.project-elements .content {
  min-height: 250px;
}

.front-end h3 {
  padding-top: 2em;
  text-align: left;
}

.info-elements, .project-elements p {
  color: #777;
}

.content {
  border-radius: 1em;
  margin: auto;
  position: relative;
}

.content img {
  border-radius: 1em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 300px;
  width: 100%;
}

.projects .content {
  padding: 1em 1em;
  box-sizing: border-box;
  transition: 0.5s;
}

.content h1 {
  line-height: 1.3em;
}

.projects .content:hover {
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: 0.5s;
}

.portfolio {
  margin-top: 5em;
}

.portfolio a {
  text-decoration: none;
  color: white;
  padding: 0;
}

.portfolio-link-btn {
  max-width: 30vh;
  background: #008ae6;
  border-radius: 1em;
  margin: auto;
  padding: 1.5em 1em;
  transition: 0.3s;
}

.portfolio-link-btn:hover {
  box-shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.2);
  transform: scale(.95);
  transition: 0.5s;
}

/* Footer of the page */
.footer {
  color: #ffff;
  width: 100%;
  background: #0099ff;
  text-align: center;
  padding: 2em 0 5em;
  margin-top: 5em;
}

.footer hr {
  width: 40%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.icons .fa {
  font-size: 30px;
  color: #ffff;
  margin: 0 .5em;
  cursor: pointer;
  padding: .75em 0;
}

/* Code for smaller screen sizes */
@media(max-width: 800px) {
  nav {
    display: block;
    align-items: center;
  }

  .logo {
    text-align: center;
  }

  .nav-links {
    text-align: center;
    margin-top: 1em;
  }

  .info-elements .content:nth-child(1) {
    margin-left: auto;
  }

  .project-elements {
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  }

  .project-elements2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  }
}

@media(max-width: 450px) {
  .nav-links ul li {
    display: block;
    padding: .4em 1em;
  }
}